*{
	margin: 0;
	padding: 0;

}

.artigo{
	background-color: rgb(200,200,200);
	width: 1280px;
	margin: 40px auto;
	text-align: center;
}

.artigo h1{
	color: rgb(66,149,244);
	font-size: 30px;
	font-family: "tahoma";
	font-style: italic;;
}

.artigo p{
	color: #000;
	text-align: left;
	font-size: 17px;
	font-family: 'tahoma';
	font-style: normal;
	font-weight: bold;
	line-height: 40px;
	margin-top: 15px;
}