*{
	margin: 0;
	padding: 0;
}
.menu{
	width: 900px;
	background-color: black;
	margin:  auto;
	text-align: center;
}

.menu > a{
	border: 1px solid red;
	text-decoration: none;
	color: orange;
	font-size: 22px;
	margin: 0 10px;
	padding: 1px;
}

